---
import Text from '@/components/Text.astro'
import Badge from '@/components/Badge.astro'
import Button from '@/components/Button.astro'
import Container from '@/components/Container.astro'

export interface Props {
  title?: string
  body?: string
  badges?: string[]
  cta?: string
  id?: string
  href?: string
  bgDesktop: ImageMetadata
  bgMobile: ImageMetadata
}

const { title, body, badges, cta, id, href, bgDesktop, bgMobile } = Astro.props
---

<Container
  id={id}
  class='relative min-h-screen w-full'>
  <div
    class='absolute top-0 left-0 size-full'
    slot='before'>
    <picture>
      <source
        media='(max-width: 640px)'
        srcset={bgMobile.src}
      />
      <img
        src={bgDesktop.src}
        alt='Suads background rocket image'
        class='object-center object-cover size-full'
      />
    </picture>
  </div>

  <div
    slot='after'
    class='absolute top-0 left-0 md:size-full'>
    <div class='px-4 md:px-0 md:max-w-7xl md:mx-auto pt-40'>
      <div class='flex gap-6 flex-wrap'>
        {badges?.map((badge) => <Badge innerHtml={badge} />)}
      </div>

      <div class='max-w-4xl mt-6 mb-12 space-y-4'>
        <Text variant={'banner'}>
          <slot name='title'><Fragment set:html={title} /></slot>
        </Text>

        <Text variant={'bodyBanner'}>
          <slot name='body'><Fragment set:html={body} /></slot>
        </Text>
      </div>

      <Button href={href}>
        <slot name='cta'><Fragment set:html={cta} /></slot>
      </Button>
    </div>
  </div>
</Container>
