---
import Button from '@/components/Button.astro'
import { Dropdown } from '@/components/Dropdown'

import Logo from '@/assets/suads.svg'
import { LINKS } from '@/data/links'

import Navbar from './components/Navbar.astro'
import NavBrand from './components/NavBrand.astro'
import Hamburger from './components/Hamburger.astro'
import NavUl from './components/NavUl.astro'
import NavLi from './components/NavLi.astro'
---

<Navbar>
  <NavBrand>
    <Logo/>
  </NavBrand>

  <Hamburger id='hamburger' />

  <NavUl id='navbar'>
    <NavLi href={LINKS.root}>Home</NavLi>

    <Dropdown name='services'>
      <Fragment slot="header">Servicios</Fragment>
      <NavLi href={LINKS.webdev}>Desarrollo Web</NavLi>
      <NavLi href={LINKS.ads}>Publicidad</NavLi>
      <NavLi href={LINKS.design}>Diseño Gráfico</NavLi>
    </Dropdown>

    <Button href={LINKS.contact}>Contacto</Button>
  </NavUl>
</Navbar>

<script src='./lib/navbar.ts'></script>
