---
import Container from '@/components/Container.astro'
import Text from '@/components/Text.astro'
import Button from '@/components/Button.astro'

export interface Props {
  title?: string
  body?: string
  cta?: string
  id?: string
  href?: string
}

const { props } = Astro
---

<Container id={props.id}>
  <div class='flex flex-col items-center text-center max-w-2xl mx-auto gap-6'>
    <Text
      tag={'h2'}
      variant={'title'}>
      <slot name='title'><Fragment set:html={props.title} /></slot>
    </Text>

    <Text
      tag={'p'}
      variant={'body'}>
      <slot name='body'><Fragment set:html={props.body} /></slot>
    </Text>

    <Button href={props.href}
      ><slot name='cta'><Fragment set:html={props.cta} /></slot></Button
    >
  </div>
</Container>
